*{
    margin: 0;
    padding: 0;
}
button{
    margin: 10px 0;
}
#buttons{
    width: 200px;
    padding: 10px 50px;
    background: rgb(0, 0, 0,.1);
}



/* TRANSPARENT BUTTON */
.btn-transparent{
    width: auto;
    padding: 8px 18px;
    border: 1px solid #363636;
    font-size: 0.9rem;
    border-radius: 2px;
    background: transparent;
    color: #363636;
    font-weight: 600;
    box-sizing: border-box;
    cursor: pointer;
    transition: all ease 0.3s;
}
.btn-transparent i{
    margin: 0 10px 0 0;
}
.btn-transparent:hover{
    background-color: #363636;
    color: #f1f1f1;
}



/*  TOGGLE BUTTONS */
.toggle{
    width: auto;
    display: flex;
    gap: 0;
    box-sizing: border-box;
}
.toggle button{
    width: auto;
    padding: 8px 10px;
    border-radius: 0;
    border: 1px solid black;
    cursor: pointer;
    background-color: transparent;
    color: #363636;
    transition: 0.3s ease all;
}
.toggle button:hover{
    background: #363636;
    color: #fff;
}
.toggle .toggle-1{
    border-radius: 8px 0 0 8px;
}
.toggle .toggle-2{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
}
.toggle .toggle-3{
    border-radius: 0 8px 8px 0;
}



/* NORMAL BUTTON */
.btn-normal{
    width: auto;
    padding: 8px 18px;
    font-size: 0.9rem;
    border-radius: 2px;
    border: none;
    font-weight: 600;
    box-sizing: border-box;
    cursor: pointer;
    background: #363636;
    color: #f1f1f1;
}
.btn-normal i{
    margin: 0 10px 0 0;
}



/* DROPDOWN */
.dropbtn {
    background-color: transparent;
    color: #363636;
    padding: 8px 18px;
    font-size: 0.9rem;
    border: 1px solid #363636;
    font-weight: 600;
    display: block;
    margin: 0 auto;
}
.dropbtn i{
    margin: 0 0 0 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
}



/* COLOR PICKER */
.color-picker{
    margin: 10px 0;
}
